# Load Data

In [25]:
import pandas as pd

%cd ..
from src.data.clean_data import drop_columns, drop_all_null_rows, drop_null_rows, filter_dataframe
%cd -

c:\MADE\Software\DS\Edmonton Urban Structure
c:\MADE\Software\DS\Edmonton Urban Structure\notebooks

c:\MADE\Program Files\Python\lib\site-packages\IPython\core\magics\osm.py:417: UserWarning: using dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [26]:
annual_collision_report_raw = pd.read_csv("../data/raw/Annual_Collision_Report.csv")
average_annual_weekday_traffic_volume_raw = pd.read_csv("../data/raw/Average_Annual_Weekday_Traffic_Volumes.csv")
weather_data_hourly = pd.read_csv("../data/raw/Weather_Data_Hourly.csv", low_memory=False)

# Processing

In [27]:
to_drop_collision = [ "Population", "Private Passenger Vehicles", "Private Motorcycles", "Collisions per 1,000 Population", "Property Damage Only (PDO) Collisions", "Injuries+Fatalities per 1,000 Population", "Injuries per 1,000 Population", "Fatalities per 1,000 Population", "FATALITY: BICYCLIST", "FATALITY: MOTORCYCLIST", "FATALITY: PEDESTRIAN", "FATALITY: VEHICLE DRIVER", "FATALITY: VEHICLE PASSENGER", "SERIOUS INJURIES: BICYCLIST", "MINOR INJURIES: BICYCLIST", "SERIOUS INJURY: MOTORCYCLIST", "MINOR INJURIES: MOTORCYCLIST", "SERIOUS INJURIES: PEDESTRIAN", "MINOR INJURIES: PEDESTRIAN", "Total Serious Injuries", "Total Minor Injuries", "Total Serious + Minor Injuries", "Total Fatalities + Injuries", "FATALITIES: INTERSECTION PERCENT", "FATALITIES: MIDBLOCK PERCENT", "INJURIES: INTERSECTION PERCENT", "INJURIES: MIDBLOCK PERCENT" ]
to_drop_volume = traffic_volume_drop = [ "Location", "Geometry Point", "Latitude", "Longitude"]
to_drop_weather = [ "Row ID", "Station Province", "Location", "Station Elevation (m)", "Station Climate Identifier", "Station WMO Identifier", "Station TC Identifier", "Station Note", "Dewpoint Temperature (degrees C)", "Relative Humidity", "Wind Direction (10s degrees)", "Air Pressure (kPa)", "Humidex", "Wind Chill (degrees C)", "Station Latitude", "Station Longitude"]


collision_new = drop_columns(annual_collision_report_raw, to_drop_collision)
traffic_new = drop_columns(average_annual_weekday_traffic_volume_raw, to_drop_volume)
weather_new = drop_columns(weather_data_hourly, to_drop_weather)

In [28]:
print("Traffic Volume Dataset NULL values: \n" + str(traffic_new.isnull().sum()))
traffic_new[traffic_new.isnull()]

Traffic Volume Dataset NULL values:
Site Number                 0
Site Name                   0
Year                        0
Average Daily Volume    10298
dtype: int64

       Site Number Site Name  Year  Average Daily Volume
0              NaN       NaN   NaN                   NaN
1              NaN       NaN   NaN                   NaN
2              NaN       NaN   NaN                   NaN
3              NaN       NaN   NaN                   NaN
4              NaN       NaN   NaN                   NaN
...            ...       ...   ...                   ...
50935          NaN       NaN   NaN                   NaN
50936          NaN       NaN   NaN                   NaN
50937          NaN       NaN   NaN                   NaN
50938          NaN       NaN   NaN                   NaN
50939          NaN       NaN   NaN                   NaN

[50940 rows x 4 columns]

In [29]:
traffic_new = drop_all_null_rows(traffic_new)
weather_new = drop_all_null_rows(weather_new)

In [30]:
traffic_new = drop_null_rows(traffic_new, ['Average Daily Volume'])
weather_new = drop_null_rows(weather_new, ["Temperature (degrees C)", "Wind Speed (km/h)", "Visibility (km)"])

In [31]:
edmonton_weather_data = filter_dataframe(weather_new, "Station Name", "edmonton")
edmonton_weather_data

,Station ID,Station Name,Date and Time,Temperature (degrees C),Wind Speed (km/h),Visibility (km)
21,30907,EDMONTON NAMAO AWOS A,2018/05/20 09:00:00 PM,15.4,6.0,14.5
23,1870,EDMONTON STONY PLAIN,2018/05/20 04:00:00 AM,7.2,11.0,24.1
24,30907,EDMONTON NAMAO AWOS A,2018/05/20 08:00:00 AM,14.1,28.0,14.5
27,51758,EDMONTON VILLENEUVE A,2018/05/20 05:00:00 PM,23.2,15.0,16.1
28,1870,EDMONTON STONY PLAIN,2018/05/20 05:00:00 PM,23.0,13.0,24.1
...,...,...,...,...,...,...
1948159,51758,EDMONTON VILLENEUVE A,2025/05/12 08:00:00 PM,9.8,11.0,16.1
1948160,51758,EDMONTON VILLENEUVE A,2025/05/12 02:00:00 PM,13.8,21.0,16.1
1948162,50149,EDMONTON INTL A,2025/05/12 03:00:00 PM,12.4,9.0,16.1
1948163,1868,EDMONTON NAMAO A,2025/05/12 08:00:00 AM,10.5,11.0,24.1
1948165,50149,EDMONTON INTL A,2025/05/12 04:00:00 AM,9.6,14.0,32.2

# Droping Meta Columns

In [32]:
edmonton_weather_data = drop_columns(edmonton_weather_data, ["Station Name"])

# Save To CSV:

In [33]:
collision_new.to_csv("../data/processed/traffic_collisions.csv")
traffic_new.to_csv("../data/processed/traffic_volume.csv")
edmonton_weather_data.to_csv("../data/processed/edmonton_weather.csv")